# Misc
temp.txt

# Hardhat files
/artifacts/
/cache/
/typechain/
/typechain-types/
/deployments/

# Dependencies
/node_modules/

# Environment and configuration files
.env
.env.*
!.env.example

# Testing artifacts
/coverage
/coverage.json

# Logs
logs
*.log
npm-debug.log*

# Editor and OS files
*.swp
*.swo


