# .env
HARDHAT_NETWORK=base_sepolia

# Network configuration
# Below gives accounts[0] as the primary MetaMask account, and accounts[1] as the oracle account
# The first two entries in each key are representative--yours will be different. 
PRIVATE_KEY=fb...
PRIVATE_KEY_2=34...
INFURA_API_KEY="66..."
ETHERSCAN_API_KEY=4Y...
BASESCAN_API_KEY=7V...

# Verdikta
WRAPPED_VERDIKTA_TOKEN_BASE_SEPOLIA=0x94e3c031fe9403c80E14DaFbCb73f191C683c2B1
WRAPPED_VERDIKTA_TOKEN_BASE=0x1EA68D018a11236E07D5647175DAA8ca1C3D0280

# Contract configuration
REQUIRED_ORACLE_QUERIES=4
REQUIRED_RESPONSES=3
CLUSTER_SIZE=2
RESPONSE_TIMEOUT=300 # 5 minutes in seconds

# Test script support
LINK_ALLOWANCE=8.0
