# .env

# Network configuration
# Below gives accounts[0] as the primary MetaMask account, and accounts[1] as the oracle account
# The first two entries in each key are representative--yours will be different. 
PRIVATE_KEY=fb...
PRIVATE_KEY_2=34...
INFURA_API_KEY="66..."
ETHERSCAN_API_KEY=4Y...
BASESCAN_API_KEY=7V...

# Verdikta
WRAPPED_VERDIKTA_TOKEN=0x2F1d1aF9d5C25A48C29f56f57c7BAFFa7cc910a3

# Contract configuration
REQUIRED_ORACLE_QUERIES=4
REQUIRED_RESPONSES=3
CLUSTER_SIZE=2
RESPONSE_TIMEOUT=300 # 5 minutes in seconds
